.remove-prof {
    padding: 10px;
    color: white;
    background-color: hotpink;
    border: thin solid blue;
    text-transform: uppercase;
    cursor: pointer;

    border-radius: 8px;
    text-decoration: none;

    &:hover {
        background-color: blue
    };
}

.prof-button-modifier {
    text-decoration: none;
    }

.bio-data {
    display: none;
}

.show-bio {
        display: block !important;
    }